:root {
    --dark-gray: #BFCADA;
    --white: #ffffff;
    --dark-white: #F5F6F7;
    --light-backgound: #ffffff;
    --light-gray: #EBEBEB;
    --drark-silver: #979797;
    --middle-silver: #9A9EA7;
    --dark-backgound: #331832;
    --dark-backgound-2: #261E3B;
    --dark-background-3: #3A3053;
    --primary: #F4A607;
    --secondary-color: #E73A5D;
    --dark-pink: #40243f;
    --gray: #64748B;
    --secondary: #1e293b;
    --purple: #E73A5D;
    --border-light-color: #EEEEEE;
    --border-color-2: #E4E6E8;
    --border-dark-color: #54313e;
    --border-dark-color-2: #5B5275;
    --select-bg: #2A223E;
    font-family: 'Inter', sans-serif;
  }
a {
    cursor: pointer;
}
.order-resume {
    box-shadow: 0px 3px 16px rgba(47, 83, 109, 0.12);
    border-radius: 12px;
    padding: 24px;

    .price-item {
        display: flex;
        align-items: center;
        padding: 8px 0px;
        width: 100%;
        justify-content: space-between;
        &-label {
            color: #64748B;
            text-align: right;
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
        }

        &-value {
            color: #64748B;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
        }
    }

    .total-amount {
        margin-top: 13px;
        padding: 12px 0px;
        border-top: 0.928px solid #EDE8E9;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        &-label {
            color: #1E293B;
            text-align: right;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
        }

        &-value {
            color: #1E293B;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
        }
    }
}


.custom-button {
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    border-radius: 30px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    margin: 10px 0px;
}

.form-side {
    width: 100%;

    .form-label {
        color: #1E293B;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px; /* 150% */
        letter-spacing: -0.1px;
    }

    .form-side-separator {
        width: 100%;
        height: 0.928px;
        background: #EDE8E9;
        margin: 30px 0 35px;
    }

    .bank-account-area {
        width: 100%;
        border-radius: 8px;
        border: 1px solid #EEE;
        background: #FFF;
        font-size: 18px;
        color: #8A8AA0;
        font-style: normal;
        line-height: normal;
    
        height: 56px;
        padding: 13px 15px;
    }

    .bank-account-items {
        background: #fff;
        box-shadow: 0px 3px 16px rgba(47, 83, 109, 0.12);
        border-radius: 12px;
        padding: 24px;
        z-index: 100;
    }
    .bank-account-item  {
        width: 100%;
        height: 58px;
        padding: 4px 8px;
    }
}

.tf-page-title {
    padding: 24px 0 0;
}

.tf-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 1440px;
    max-width: 100%;
}

.tf-page-title .thumb-pagetitle img {
    height: 360px;
    object-fit: cover;
}

.tf-dashboard.tf-tab2 {
    padding-bottom: 91px;
}
.tf-dashboard {
    padding: 50px 0 51px 0;
}


.dashboard-user {
    background: var(--secondary-color);
    border: 1px solid transparent;
    border-radius: 18px;
    padding: 24px 24px 24px 24px;
    margin-top: -131px;
}

.dashboard-user .dashboard-infor {
    text-align: center;
    margin-bottom: 29px;
}

.dashboard-user .dashboard-infor .avatar {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 16px;
    margin-bottom: 9px;
}

.dashboard-user .dashboard-infor .avatar img {
    width: 100%;
}

.dashboard-user .dashboard-infor .name {
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 8px;
}

.dashboard-user .dashboard-infor .pax {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    margin-bottom: 23px;
}

.dashboard-user .dashboard-infor .pax i {
    margin-right: 10px;
    color: #6B8CEF;
    font-size: 16px;
}
.dashboard-user .dashboard-infor .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-transform: capitalize;
    color: var(--white);
    margin-bottom: 9px;
}

.dashboard-user .dashboard-filter {
    margin-bottom: 16px;
}

.dashboard-user .dashboard-filter .filter-menuu {
    display: block;
}

.dashboard-user .dashboard-filter .filter-menuu li {
    margin-right: 0;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 14px 10px 14px 18px;
    margin-bottom: 12px;
    cursor: pointer;
}

.dashboard-user .dashboard-filter .filter-menuu li svg {
    vertical-align: sub;
    margin-right: 10px;
}

.menu-item {
    color: #fff;
    font-size: 16px;
    font-weight: 600;

    margin-right: 0;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 14px 10px 14px 18px;
    margin-bottom: 12px;
    cursor: pointer;

    svg {
        width: 16px;
        height: auto;
        color: #fff;
    }
}


.dashboard-content .inner-content.history h4 {
    margin-bottom: 40px;
}

.dashboard-content h4 {
    margin-bottom: 37px;
    font-size: 36px !important;
    line-height: 44px;
}


.history-filter .history-content .inner .history-details {
    position: relative;
    background: #FFF;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    padding: 16px 16px 14px 16px;
    margin-bottom: 12px;
    width: 100%;
}

.history-filter .history-content .inner .history-details .category-filter {
    position: absolute;
    right: 16px;
    top: 16px;
    display: inline-block;
    padding: 1px 12px;
    background: transparent;
    border: 1px solid #E5E5E5;
    border-radius: 40px;
    font-weight: 400;
    font-size: 12px;
}

.history-filter .history-content .inner .history-details .authorr .content .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #565660;
    margin-top: 5px;
    margin-bottom: 6px;
}
.history-filter .history-content .inner .history-details .authorr .content .name {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.history-filter .history-content .inner .history-details .authorr .content .date {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
}

.tf-item-details .content-right .themesflat-tabs li .author-infor .name {
    a {
        color: inherit;
    }
}

@media (min-width: 1200px){
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}}
@media (min-width: 992px){
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}}
@media (min-width: 768px){
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}}
@media (min-width: 576px){
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}}
.container-fluid {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.stats-item {
    .right {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    span {
        padding: 9px 15px;
        border-radius: 40px;
        background-color: #F8F8F8;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        font-size: 16px;
        font-weight: 500;
        height: 35px;
    }
}

.scroll-category {
    border-radius: 35px;
    z-index: 1000;
    border: 0;
    background: rgba(0,0,0,0.5);
    min-width: 37px;
    min-height: 37px;
    opacity: 1;
    cursor: pointer;
}

.right-arrow::before {
    content: "\e825";
}

.left-arrow::before {
    content: "\e824";
}
.scroll-category::before {
    font-size: 14px;
    color: #fff;
    display: block;
    font-family: revicons;
    text-align: center;
    z-index: 2;
    position: relative;
}

@media (max-width: 768px){
    .scroll-category {
        display: none;
    }
}

.small-description {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit !important;
        font-weight: inherit !important;
    }
}

.inner-content * {
    font-size: 14px;
}

.qty-button {
    border: 1px solid rgba(138,138,160,0.3);
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    line-height: 28px;
    border-radius: 4px;
    padding: 13px 15px;
    width: 100px;
    background: transparent;
    color: #1F1F2C;
    height: 56px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cart-modal-list {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        border-radius: 16.0252px;
        background: scroll;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 32.0504px;
        overflow: hidden;
      }
      
      &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 32.0504px;
        overflow: hidden;
      }
}

.new-custom-select {
    font-size: 14px;
    border: 1px solid rgba(138, 138, 160, 0.3);
    padding: 9px 20px;
    background: transparent;
    position: relative;

    .custom-select-placeholder {
        color: #8A8AA0;
    }

    .custom-select-selected {
        color: #1F1F2C;
    }

    .select-dropdown {
        top: 53px;
        right: 0;
        position: absolute;
        height: auto;
        max-height: 242px;
        overflow-y: auto;
        background: #fff;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        z-index: 100000;
        width: 100%;
        cursor: pointer;
        
        .dropdown-menu-item {
            padding: 9px 20px;
            color: #1F1F2C;
            cursor: pointer;

            &:hover {
                background: rgba(247, 167, 0, .1);
            }
        }
    }
}


.custom-input-check .option-selected,
.custom-input-check .option {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  color: #64748b;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 150% */
  letter-spacing: -0.1px;
}



/* Hide the browser's default radio button */
.custom-input-check .option-selected input,
.custom-input-check .option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-input-check input {
  margin-right: 8px;
}

.custom-input-check input[type="checkbox"] {
  background-color: CanvasText;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.15em;
}

/* Create a custom radio button */
.custom-input-check .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1.5px solid #64748b;
  border-radius: 50%;
}

[data-theme='dark'] .custom-input-check .checkmark {
  background: #F5F6F7;
  border: 1px solid #3A3154;
}


.option:has(> input:checked~.checkmark) {
  color: #1e293b;
}
.all-option-item:has(input:checked~.checkmark) .option-price{
  color: #1e293b;
}
/* When the radio button is checked, add a blue background */
.custom-input-check .option-selected input:checked~.checkmark,
.custom-input-check .option input:checked~.checkmark {
  border: 1.5px solid #f4a607;;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-input-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-input-check .option-selected input:checked~.checkmark:after,
.custom-input-check .option input:checked~.checkmark:after {
  display: block;
}

.custom-input-check .option-selected .checkmark:after,
.custom-input-check .option .checkmark:after {
  left: 1.5px;
  top: 1.5px;
  height: 10px;
  width: 10px;
  background: #f4a607;;
  border-radius: 50%;
}

/* Style the indicator (dot/circle) */
.custom-input-check .option-selected input:checked~.checkmark:after,
.custom-input-check .option input:checked~.checkmark:after {
  left: 1.5px;
  top: 1.5px;
  height: 10px;
  width: 10px;
  background: #f4a607;;
  border-radius: 50%;
}

.icons-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    gap: 20px;
}

.icons-tab::-webkit-scrollbar{
    display: none;
    width: 0 !important;
}

.Example__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
  }
  
  .Example__container__load {
    margin-top: 1em;
    color: white;
  }
  
  .Example__container__document {
    width: 100%;
    max-width: calc(100% - 2em);
    margin: 1em 0;
  }
  
  .Example__container__document .react-pdf__Document {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Example__container__document .react-pdf__Page {
    margin: 1em 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }
  
  .Example__container__document .react-pdf__message {
    padding: 20px;
    color: white;
  }